body {
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    background: linear-gradient(141deg, #0fb8ad, #1fc8db, #2cb5e8, #736efe, #f97794, #623aa2);
    background-size: 1200% 1200%;
    -webkit-animation: bgGradTrans 10s ease infinite;
    -moz-animation: bgGradTrans 10s ease infinite;
    -o-animation: bgGradTrans 10s ease infinite;
    animation: bgGradTrans 10s ease infinite;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



@-webkit-keyframes bgGradTrans {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@-moz-keyframes bgGradTrans {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@-o-keyframes bgGradTrans {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@keyframes bgGradTrans {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

.stack-icon {
    font-size: 3rem;
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5 !important;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-icon {
    font-size: 2rem;
    color: #fff;
    margin: 1rem;
    line-height: 1.5 !important;
    float: right;
}

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    color: #fff;
    flex-flow: row wrap;
    text-align: center;
}

.title {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    flex-flow: row wrap;
    text-align: center;
}

.sub {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
    flex-flow: row wrap;
    text-align: center;
    margin-bottom: 0.5rem;
}

.separator {
    border-bottom: 1px solid #fff;
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}