body {
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    background: linear-gradient(141deg, #0fb8ad, #1fc8db, #2cb5e8, #736efe, #f97794, #623aa2);
    background-size: 1200% 1200%;
    -webkit-animation: bgGradTrans 10s ease infinite;
    -moz-animation: bgGradTrans 10s ease infinite;
    -o-animation: bgGradTrans 10s ease infinite;
    animation: bgGradTrans 10s ease infinite;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



@-webkit-keyframes bgGradTrans {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@-moz-keyframes bgGradTrans {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@-o-keyframes bgGradTrans {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@keyframes bgGradTrans {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

.stack-icon {
    font-size: 3rem;
    color: #fff;
    margin: 1rem;
    line-height: 1.5 !important;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-icon {
    font-size: 2rem;
    color: #fff;
    margin: 1rem;
    line-height: 1.5 !important;
    float: right;
}

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    color: #fff;
    flex-flow: row wrap;
    text-align: center;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}